if SHIELD_PEPIJNO_LEFT

config ZMK_KEYBOARD_NAME
    default "pepijno"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PEPIJNO_LEFT || SHIELD_PEPIJNO_RIGHT
config ZMK_SPLIT
    default y
endif
